{% extends 'base.html.twig' %}

{% block title %}Oops, something gone wrong{% endblock %}

{% block body %}
	<h1>Oops, something gone wrong</h1>
	<p>{{ status_text }}, {{ status_code }}</p>
{% endblock %}